GraphStudy/.vs/
GraphStudy/GraphStudy.Api/bin/
GraphStudy/GraphStudy.Api/obj/
GraphStudy/GraphStudy.Menu/obj/
GraphStudy/GraphStudy.Menu/bin/
.vs/
GraphStudy/GraphStudy.Models/obj/
GraphStudy/GraphStudy.Services/obj/
GraphStudy/GraphStudy.Services/bin/
GraphStudy/GraphStudy.Models/bin/
GraphStudy/GraphStudy.Api.RESTful/obj/
GraphStudy/GraphStudy.Api.RESTful/bin/
